body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
.skills-list li {
    background: #f0f0f0;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}


.container {
    text-align: center;
}

.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}


nav {
    background: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00bcd4;
}

.container {
    padding: 50px;
    background: white;
    margin: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

ul {
    line-height: 2;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
.contact-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 30px;
}

.contact-info p {
    font-size: 16px;
    margin: 10px 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 15px;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    background: #111;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
}

